<!DOCTYPE html>
<html>
<head>
  <title>Otus</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= auto_discovery_link_tag :atom, "/api" %>
  <%= auto_discovery_link_tag :rss, "/api.rss" %>
</head>
<body>

<%= yield %>

</body>
</html>
